.btn_send_card {
    width: 200px;
    padding: 7px 0;
    font-size: 1.3rem;
    transition: 0.5s;
    font-weight: 400;

    &:hover {
        background-color: rgb(1, 66, 26);
    }
}

.btn_authen {
    font-weight: 400 !important;

    &::after {
        display: none !important;
    }

    &:hover {
        color: white !important;
    }
}

.btn_success {
    width: 100px;
    border: none;
    border-radius: 0;
    padding: 0.7rem;
    background-color: $green_100;
    transition: 0.5s;

    &:hover {
        background-color: $green_200;
        color: $light_300;
    }
}

.btn_cancle {
    width: 100px;
    border: none;
    border-radius: 0;
    padding: 0.7rem;
    background-color: rgb(114, 2, 2);
    transition: 0.5s;

    &:hover {
        background-color: white;
        color: rgb(114, 2, 2);
    }
}