#cards_hot {
    .card_hot_content {
        padding: 20px 50px;
        .card_hot_items {          
            padding: 20px;
            text-align: center;         

            .item_img {
                width: 150px;
                margin: 0 auto;
                border: 1px solid rgb(168, 168, 168);
                border-radius: 7px;
                background-color: white;
                overflow: hidden;
                margin-bottom: 7px;
            }

            .item_title {
                h6 {
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: rgb(119, 3, 3);
                }
            }

            .item_fees {
                p {
                    font-size: 0.9rem;
                    margin: 0;                  
                }
            }
        }
    }
}