#news {
    margin: 5px 0;
    .news_content {
        #scroll-container {
            overflow: hidden;

            #scroll-text {
                /* animation properties */
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);

                -moz-animation: my-animation 15s linear infinite;
                -webkit-animation: my-animation 15s linear infinite;
                animation: my-animation 50s linear infinite;

                li {
                    width: auto;
                    white-space: nowrap;
                    margin: 0 10px;
                    list-style: none;
                }
            }
        }
    }
}

@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}