html,
body {
    font-family: opensans_medium;
    font-size: 16px;
    font-weight: 400;
    color: #a6b0cf;
    box-sizing: border-box;
    background-color: $dark_400;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: $dark_200;
    }

}

.logo {
    text-align: center;
    transform: scale(0.95);
    transition: 0.5s;

    &:hover {
        transform: scale(1);
    }

    h1 {
        font-family: anton_black;
        padding: 0;
        margin-bottom: -10px;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 5px;
        text-transform: uppercase;
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    span {
        font-weight: 700;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 1px;
        font-weight: 200;
        color: $light_300;

    }

    p {
        margin-top: 25px;
        color: rgb(65, 65, 65);
        font-size: 16px;
        font-weight: 400;
    }
}

.hearder_hag {
    margin: 15px;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        font-family: opensans_bold;
        color: $light_300;
    }
}


.bgr_white {
    padding: 20px;
    background-color: $dark_300 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
}

.code_sample {
    background-color: black;
    padding: 1.5rem;
    color: white;
    border-radius: 8px;
}

//Color text
.text_light{
   font-family: opensans_light;
   font-weight: 300;
}
.txt_white {
    font-weight: 200;
    color: $light_300 !important;
}

.txt_black {
    color: rgb(0, 0, 0) !important;
}

.txt_dark_100 {
    color: $dark_100 !important;
}

.txt_center {
    text-align: center !important;
}

.txt_bold {
    font-weight: bold !important;
}

.txt_right {
    text-align: right;
}

.txt_left {
    text-align: left;
}

// //btn to top
// .scroll-to-top {
//     position: fixed;
//     width: 100%;
//     background-color: $cl_black !important;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 999;

//     a {
//         color: white !important;
//     }
// }

// #btn_scroll {
//     position: fixed;
//     bottom: 0;
//     transform: translate(200%, -400%);
//     right: 0;
//     opacity: 0;
//     width: 55px;
//     height: 55px;

//     transition: 0.5s;
//     z-index: 999;
// }

// //Button
// .btnShow {
//     opacity: 1 !important;
//     transform: translate(-30%, -400%) !important;

// }

.hide {
    display: none !important;
}

// //Text align
// .txt_center {
//     text-align: center !important;
// }

// //Text color
// .txt_black {
//     color: $cl_dark200 !important;
// }

// .txt_white {
//     color: white !important;
// }

// .txt_red {
//     color: $cl_red !important;
// }

// .txt_green {
//     color: $cl_green !important;
// }

// .txt_dark {
//     color: rgb(87, 86, 86) !important;
// }

// //Border
// .border_top {
//     border-top: 1px solid rgb(107, 107, 107);
// }

// .border_right {
//     border-right: 1px solid rgb(107, 107, 107);
// }

// .border_left {
//     border-left: 1px solid rgb(107, 107, 107);
// }

// .border_bottom {
//     border-bottom: 1px solid rgb(107, 107, 107);
// }

// //Bgr
// .bgr_black {
//     background-color: $cl_black !important;
// }

// .bgr_dark100 {
//     background-color: $cl_dark100 !important;
// }

// .bgr_dark200 {
//     background-color: $cl_dark200 !important;
// }

// .bgr_green {
//     background-color: $cl_green !important;
// }