@keyframes autoTranform {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

;

@keyframes autoScrollTxt {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}